/* do 1140px */
@media (max-width: 1140px){
    .card{
        width:calc(50% - 15px);
     }
}
/* do 760px */
@media (max-width: 760px){
    .header-title{
        font-size: 25px;
    }
    .header-subtitle{
        font-size: 15px;
    }
    .portfolio {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .portfolio-header{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .portfolio-cards-wrapper{
        justify-content: center;
    }
    .card{
        max-width: 530px;
        width: 100%;
    }
    .card:nth-last-child(2){
        margin-bottom: 30px;
    }
    .card-link{
        padding: 15px;
    }
    .card-img{
      margin-bottom: 10px;  
    }
    .card-title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .card p{
        font-style: 14px;
    }

}
/*  finish it later */